!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="html_head(removeTag)" th:remove="${removeTag}">
	<meta http-equiv="Content-Type" content="text/html"; charset=UTF-8>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>[[${pateTitle}]] - [[${siteName}]]</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/fontawesome/all.css}" />
<!--	<link rel="stylesheet" th:href="@{style.css}" />-->
<style>

.image-wrapper {
  position: relative;
  width: min-content;
}

.image-wrapper span {
  position: absolute;
  top: 1px;
  left: 20px;
}

.image-wrapper2 {
  position: relative;
  width: min-content;
  top: 0px;
  right: 30px;
}

.image-wrapper2 span {
  position: absolute;
  top: 0px;
  right: 30px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

bell {
    display: inline-block;
    position: relative;
    background-color: #eee;
    width: 48px;
    height: 42px;
    text-align: center;
    padding-top: 6px;
}
.bell img {
    width: 24px;
    height: 24px;
    padding-top: 10px;
}
.bellnumbers {
    font-size:12px;
    background-color:red;
    width:16px;
    line-height: 16px;
    text-align: center;
    color:#fff;
    z-index: 2;
    border-radius: 3px;
    position: absolute;
    left: 28px;
}
</style>
</head>
<body>



	<div th:fragment="topnav" class="row">
		<div class="col">
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<a class="navbar-brand" th:href="@{/}">
					<!--<img alt="Site Logo" th:src="@{${siteLogo}" />-->
					<img alt="Site Logo" height="50" th:src="@{/images/logo8.png}" />
				</a>
				<button class=navbar-toggler type="button" data-toggle="collapse" data-target="#mainNavbar">
					<span class="navbar-toggler-icon"> </span>
				</button>
				<div class="collatpse navbar-collapse" id="mainNavbar">
					<ul class="navbar-nav">
						<th:block th:each="headerMenu : ${headerMenuItems}">
						<li class="nav-item">
							<a class="nav-link" th:href="@{'/m/' + ${headerMenu.alias}}">[[${headerMenu.}]]</a>
						</li>
						</th:block>	
						<!--- dynamic header ends -->	
						<th:block sec:authorize="!isAuthenticated()">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/login}">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/register}">Register</a>
						</li>
						</th:block>
						
						<li class="nav-item">
							<a class="nav-link" th:href="@{/contact}">Contact</a>
						</li>
						<ul class="navbar-nav">
						<th:block sec:authorize="isAuthenticated()">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/customer}"> <b>[[${#request.userPrincipal.name}]]</b></a>
						</li>
						<li class=nav-item>
							<a class="nav-link" th:href="@{/orders}">My Orders</a>
						</li>
						</th:block>
						<li class="nav-item">
							
							<div class="cart update">		
								<a class="nav-link" id="cart-link" th:href="@{/cart}" ><img alt="basket" height="30" src="/images/basket.png" />
								<span class="badge badge-warning" id="lblCartCount"><i class="fa" style="font-size:12px">[[${cartItemsSize}]]</i></span></a>
							</div>
<!--							<i class="fa" style="font-size:24px">&#xf07a;</i><img alt="basket" height="30" src="images/basket.png" />
<span class='badge badge-warning' id='lblCartCount'> 5 </span>
						</li>-->
						
				<!--			<li class="nav-item">
								<div class="image-wrapper">
									<img src="images/basket.png" height="30">
									<span color="red">5</span>
								</div>
							</li>-->
						<th:block sec:authorize="isAuthenticated()">
						<li class="nav-item">
							<a class="nav-link" href="javascript: document.logoutForm.submit()">Logout</a>
						</li> 
						</th:block>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	
	<div th:fragment="footer" class="row mt-3">
		<div class="col">
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainFooterNavbar" >
					<span class="navbar-toggler-icon"> </span>
				</button>
				<div class="collapse navbar-collapse" id="mainFooterNavbar">
					<ul class="navbar-nav">
						<th:block th:each="footerMenu : ${footerMenuItems}">
						<li class="nav-item">
							<a class="nav-link" th:href="@{'/m/' + ${footerMenu.alias}}">[[${footerMenu.}]] </a>
						</li>
						</th:block>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/about}">About us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/registerCompany}">Register your Business?</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="col-12 text-center">
			<p>[[${siteName}]] - Copyright &copy; Graba Ltd.</p>
		</div>
	</div>
	
	<div th:fragment="searchnav" class="row">
		<div class="col-md">
			<th:block sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="POST" th:hidden="true" name="logoutForm">
				<input type="submit" value="logout">
			</form>
			</th:block>
			<nav class="navbar navbar-expand-sm bg-light">
			 	 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#searchNavbar" aria-controls="searchNavbar" aria-expanded="false" aria-label="Toggle navigation">Search
  			  		<span class="navbar-toggler-icon"></span>
  				</button>
				<div class="navbar-header">
				<div class="collapse navbar-collapse" id="searchNavbar">
					<div class="input-group-prepend">
                   	 	<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</button>
                    	<div class="dropdown-menu" id="location-dropdown" value="Castlerea">
                     		 <a class="dropdown-item" value="Castlerea" >Castlerea</a>
                   	</div>
                		</div>
					<form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="GET">
						<input type="search" id="item-search" name="keyword" size="50" th:value="${keyword}" class"form-control mr-sm-2"
							placeholder="What are you looking for " required />
							&nbsp;
						<input type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0"/>
					</form>
				</div>
			 </div>
			</nav>
		</div>
	</div>
	
			
	<th:block th:fragment="breadcrumb" th:if="${parents != null && !parents.empty}">
	<div class="row">
		<div class="col">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a th:href="@{/}">Home</a>
					</li>
					<li th:each="cat : ${parents}" class="breadcrumb-item">
						<a th:href="@{'/c/' + ${cat.alias}}">[[${cat.name}]]</a>
					</li>
					<li th:if="${product != null}" class="breadcrumb-item">
						<span>[[${product.name}]]	</span>
					</li>
				</ol>
			</nav>
		</div>
	</div>	
	</th:block>
			
	<div th:fragment="discountPrice" th:remove="tag">
		<span th:style="${product.discountPercent > 0 ? 'font-size: larger; color: darkred' : ''}">
			<span th:if="${currencySymbolPosition == 'before'}" th:remove="tag">[[{currencySymbol}]]</span>
		</span>
	</div>	
	
	<div th:fragment="listPrice" th:remove="tag">
		<del>
			<span th:if="${currencySymbolPosition == 'before'}" th:remove="tag">[[{currencySymbol}]]</span>
		</del>
	</div>
	
	<div th:fragment="currency_format(amount)" th:remove="tag">
		<span th:if="${currencySymbolPosition == 'before'}" th:remove="tag">[[${currencySymbol}]]</span>
	</div>
	
	<div th:fragment="standardModal" class="modal fade text-center" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
			
				<div class="modal-title">
					<h4 class="modal-title" id="modalTitle">Warning</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
				
			</div>
		</div>
	</div>
</body>

</html>