<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org">

<head th:replace="fragments/common :: html_head(removeTag='none')" />

<body>

<div class="container-fluid">
		<div th:replace="fragments" :: topnav">Top Navigation Menu </div>
		
		<div>
			<br/>
			<h1> Welcome to your User Home</h1>
			<br/>
		</div>
		<div>
			<form>
				<p>
					<label>E-mail:</label>
					<inut type="text" th:value="${user.username}"/>
				</p>
				<p>
					<label>Full Name:</label>
					<inut type="text" th:value="${user.fullname}"/>
				</p>
				<p>
					<label>Assigned Roles:</label>
					<inut type="text" th:value="${user.authorities}"/>
				</p>
			</form>
		</div>
		
		<div th:replace="fragments/common :: footer">Static footer</div>
</div>
</body>
</html>